<mat-toolbar>
    &nbsp;&nbsp;
    <img src="../../../../assets/images/software-icons/dashboard.png" class="toolbar-img-style" />
    <span class="toolbar-title-style">
        Dashboard
    </span>
</mat-toolbar>
<mat-divider></mat-divider>
<div class="software-container">
    <div fxLayout="row" fxLayout.xs="column">
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-project-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;">
                <img src="../../../../assets/images//software-icons/project.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Project
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-unit-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/unit.png" height="70" style="margin-bottom: 7px;" />
                <br />
                Unit
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-customer-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/customer.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Customer
            </button>
        </div>
        <div fxFlex="25" style="padding: 5px;">
            <button mat-flat-button routerLink="/software/setup-broker-list" color=""
                style="width: 100%; font-size: 17px; padding: 10px 0px 10px 10px;"><img
                    src="../../../../assets/images//software-icons/broker.png" height="70"
                    style="margin-bottom: 7px;" />
                <br />
                Broker
            </button>
        </div>
    </div>
</div>